<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="Sciezka" value="C:\Users\developer\Desktop"/>
		<add key="Czas" value="60"/>
		<add key="Dziennik" value="MonitorLog"/>
		<add key="Zrodlo" value="MonitorLogSource"/>
	</appSettings>

	<system.diagnostics>
		<switches>
			<add name="Logowanie" value="Info"/>
		</switches>
	</system.diagnostics>
	
</configuration>